<%- include('partials/header') %>
<h1 class="mb-3">Grafico S&P 500</h1>
<canvas id="chart" height="100"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>
<%- include('partials/footer') %>
